// list all your imports here
@import "breakpoint";
@import "compass";
@import "compass/reset";

// config
@import "config/variables";
@import "config/breakpoints";
@import "config/grid";

// base
@import "base/layout";
@import "base/typography";

// components
@import "components/component";

<<<<<<< Updated upstream
// base unit
$base        : 24px;
$base--half  : $base / 2;
$base--third : $base / 3;

// fonts
$font-size--xs : 10px;
$font-size--sm : 12px;
$font-size--md : 16px;
$font-size--lg : 24px;
$font-size--xl : 32px;

p {
  margin-bottom: 1em;
}

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  padding: $base;
}

.heading {
  margin-bottom: 0.618em;

  &.-large {
    font-size: $font-size--lg;
    font-weight: bold;
    line-height: $base * 3 / 2;

    @include breakpoint($breakpoint--large) {
      font-size: $font-size--xl;
    }
  }

  &.-medium {
    font-size: $font-size--md;
    font-weight: normal;
    line-height: $base;

    @include breakpoint($breakpoint--large) {
      font-size: $font-size--lg;
    }
  }

  &.-small {
    font-size: $font-size--sm;
    font-weight: bold;
    line-height: $base * 2 / 3;
  }

  &.-smallest {
    font-size: $font-size--xs;
    font-weight: bold;
  }
}

h1 {
  @extend .heading.-large;
}

h2 {
  @extend .heading.-medium;
}

h3 {
  @extend .heading.-small;
}
=======
// pages
@import "pages/home";
>>>>>>> Stashed changes
